* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
	background: url(../img/bg.jpg);
}

body {
	font: 500 18px/18px "Helvetica", sans-serif;
	color: rgba(0,0,0,0.6);
	background: url(../img/circles.php);
}

div#wrapper {
	width: 95%;
    margin: 0 auto 0 auto;
}

div#wrapcontent {
	min-height: 500px;
}

h1 {	
	display: inline-block;
	font: 900 25px/30px "Trebuchet MS", sans-serif;
	color: rgba(25,255,255,0.4);
	margin: 0px 20px 0px 10px;
}

h2 {
	text-align: center;
	font: 500 30px/40px "Tahoma", sans-serif;
	color: rgba(50,50,50,1);
	text-shadow: 2px 2px 2px rgb(100,100,100);
}

h2 a {	
	text-decoration: none;
	color: rgba(0,0,0,1);
}

h3 {
	text-align: center;
	font: 500 20px/30px "Tahoma", sans-serif;
	color: rgba(50,50,50,1);
	text-shadow: 1px 1px 1px rgb(100,100,100);
}


/*------------------------------------------------------NAVIGATION----------------*/

div#nav {
	color: white;
	background: rgba(0,0,0,0.7) ;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

div#nav a {
	display: inline-block;
	text-decoration: none;
	font: 500 16px/30px "Trebuchet MS", sans-serif;
	color: rgb(180,180,180);
}

div#links {
	display: inline-block;
}

 /*------------------------------------------------------home-------------------------------------------*/

div#home{
	text-align: center;
	padding: 40px 0 0px 0;
}

.box {
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;
	width: 280px;
	height: 160px;
	background: rgba(255,255,255,0.4);
	margin: 20px 15px 20px 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px rgb(50,50,50);
}

.box:hover{
	box-shadow: inset 2px 2px 8px rgb(50,50,50);
}

.box span {
	display: none;
}

a#radiarts{
	background: url(../img/comingsoon.png) no-repeat, url(../img/radiarts.png) white;
	background-position: -10px, 0px;
}

a#designection{
	background: url(../img/designection.png) no-repeat, -o-linear-gradient(rgba(150,150,150,1), rgba(50,50,50,1));
	background: url(../img/designection.png) no-repeat, -webkit-linear-gradient(rgba(150,150,150,1), rgba(50,50,50,1));	
	background: url(../img/designection.png) no-repeat, -moz-linear-gradient(rgba(150,150,150,1), rgba(50,50,50,1));
	background-size: 280px, 100%;
	background-position: center;
}

a#chuisy{
	background: url(../img/chuisy.png) no-repeat, -o-linear-gradient(rgb(230,30,75), rgb(140,0,0));
	background: url(../img/chuisy.png) no-repeat, -webkit-linear-gradient(rgb(230,30,75), rgb(140,0,0));
	background: url(../img/chuisy.png) no-repeat, -moz-linear-gradient(rgb(230,30,75), rgb(140,0,0));
	background-size: 200px, 100%;
	background-position: center;
}

a#isittoolate{
	background: -o-linear-gradient(rgb(255,255,255), rgb(210,210,210));
	background: -moz-linear-gradient(rgb(255,255,255), rgb(210,210,210));
	background: -webkit-linear-gradient(rgb(255,255,255), rgb(210,210,210));
	text-align: center;
	font: 500 45px/160px "Times New Roman", serif;
	color: black;
	text-shadow: 0 0 1px black;
}

a#educatopia{
	background: url(../img/comingsoon.png) no-repeat, -o-linear-gradient(rgba(55,255,255,1), rgba(50,180,210,1));
	background: url(../img/comingsoon.png) no-repeat, -moz-linear-gradient(rgba(55,255,255,1), rgba(50,180,210,1));
	background: url(../img/comingsoon.png) no-repeat, -webkit-linear-gradient(rgba(55,255,255,1), rgba(50,180,210,1));
	background-position: -10px, 0px;
	text-align: center;
	font: 500 50px/160px "Arial", sans-serif;
	color: black;
	text-shadow: 0 0 2px black;
}

a#leomask{
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(30,30,30,0.3)), url(../img/paper.jpg);
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(30,30,30,0.3)), url(../img/paper.jpg);
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(30,30,30,0.3)), url(../img/paper.jpg);
	text-align: center;
	font: 700 55px/160px "Myriad Pro", sans-serif;
	color: rgb(50,50,50);
	text-shadow: 0 -1px 1px black, 0 1px 1px white;
}

a#paperwings{
	background: url(../img/comingsoon.png) no-repeat, -o-linear-gradient(rgba(80,155,255,1), rgba(50,110,210,1));
	background: url(../img/comingsoon.png) no-repeat, -moz-linear-gradient(rgba(80,200,255,1), rgba(50,110,210,1));
	background: url(../img/comingsoon.png) no-repeat, -webkit-linear-gradient(rgba(80,255,255,1), rgba(50,180,210,1));
	background-position: -10px, 0px;
	text-align: center;
	font: 700 25px/160px "Tahoma", sans-serif;
	color: rgb(255,255,255);
}

a#timeomat{
	background: url(../img/timeomat.jpg);
	background-position: 0px, -20px;
	background-size: 100%; 
	text-align: center;
	color: rgb(255,255,255);
}


/*------------contact----------------*/
div#contact{
	text-align: center;
	margin: 40px 0 0px 0;
}

div#contact a.websites {
	display: inline-block;
	height: 50px;
	background-position: center;
	margin: 40px 20px 0 20px;
}

a#kickstarter {
	width: 350px;
	background: url(../img/kickstarter.png) no-repeat;
}

a#twitter {
	width: 200px;
	background: url(../img/twitter.png) no-repeat;
}
