{% extends "section.html" %}

{% block content %}
<div id="section-tag">
  <h1>{{term.name}}</h1>

  <ul>
    {% for page in term.pages %}
      <li>
        {% if page.components is containing("tasks") %}
          <span>Task</span>
        {% elif page.components is containing("languages") %}
          <span>Language</span>
        {% endif %}
        <a href="{{page.permalink}}">
          {{ page.title | safe }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
