name: Adrian Sieber's Website
description: My personal website including a blog

permalink: /:title/

defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      layout: default
      isHome: false
      isPost: false
  -
    scope:
      path: ""
      types: [posts, drafts]
    values:
      layout: post
      isHome: false
      isPost: true

markdown: kramdown
kramdown:
  hard_wrap: false
safe: true
incremental: true
highlighter: rouge
