<div id="resume">
		<section id="basics">
			<section id="contact">
				<div class="contact">
						<div class="website">
							<strong>Website</strong>
							http://adriansieber.com
						</div>
						<div class="email">
							<strong>Email</strong>
							mail@adriansieber.com
						</div>
						<div class="phone">
							<strong>Phone</strong>
							491639860910
						</div>
				</div>
					<div class="summary">
						<p>I am Adrian Sieber</p>
					</div>
			</section>

				<h3>Location</h3>
				<section id="location">
						<div class="address">
							<strong>Address</strong>
							Humboldtring 23/90
						</div>
						<div class="postalCode">
							<strong>Postal code</strong>
							14473
						</div>
						<div class="city">
							<strong>City</strong>
							Potsdam
						</div>
						<div class="countryCode">
							<strong>Country code</strong>
							DE
						</div>
						<div class="region">
							<strong>Region</strong>
							Brandenburg
						</div>
				</section>
				<h3>Profiles</h3>
				<section id="profiles">
						<div class="item">
								<strong class="network">
									GitHub
								</strong>
								<div class="username">
									adius
								</div>
								<div class="url">
									<a href="https://github.com/adius">Link</a>
								</div>
						</div>
						<div class="item">
								<strong class="network">
									Stack Overflow
								</strong>
								<div class="username">
									adius
								</div>
								<div class="url">
									<a href="https://stackoverflow.com/users/1850340/adius">Link</a>
								</div>
						</div>
						<div class="item">
								<strong class="network">
									Twitter
								</strong>
								<div class="username">
									adriansieber
								</div>
								<div class="url">
									<a href="https://twitter.com/adriansieber">Link</a>
								</div>
						</div>
						<div class="item">
								<strong class="network">
									Facebook
								</strong>
								<div class="username">
									adriansieber1
								</div>
								<div class="url">
									<a href="https://facebook.com/adriansieber1">Link</a>
								</div>
						</div>
						<div class="item">
								<strong class="network">
									LinkedIn
								</strong>
								<div class="username">
									adriansieber
								</div>
								<div class="url">
									<a href="https://linkedin.com/in/adriansieber">Link</a>
								</div>
						</div>
				</section>
		</section>

		<section id="work">
			<h2>Work</h2>
				<div class="item">
						<h3 class="name">
							Hasso Plattner Institut
						</h3>
					<div class="date">
							<span class="startDate">
								Thu Nov 01 2012 01:00:00 GMT+0100 (CET)
							</span>
							<span class="endDate">
				- Sat Feb 01 2014 01:00:00 GMT+0100 (CET)
			</span>
					</div>
						<div class="position">
							Student Research at the Internet Technologies and Systems Department

						</div>
						<div class="website">
							<a href="http://blog-intelligence.com">http://blog-intelligence.com</a>
						</div>
						<div class="summary">
							<p>BlogIntelligence is a social media analysis platform backed by
a 6 Terabyte HANA in memory database.
My responsibility was to design &amp; develop the frontend and the Node.js
backend infrastructure to be able to address and visualize the data
crawled into the HANA database.
</p>
						</div>
						<ul class="highlights">
								<li>Switch from Django to Node.js</li>
								<li>Reimplementation of frontend</li>
								<li>Development of various visualizations with D3.js</li>
						</ul>
				</div>
				<div class="item">
						<h3 class="name">
							Freelancer
						</h3>
					<div class="date">
							<span class="startDate">
								Sat Jan 01 2011 01:00:00 GMT+0100 (CET)
							</span>
							<span class="endDate">
				- Present
			</span>
					</div>
						<div class="position">
							Web developer &amp; designer
						</div>
						<div class="summary">
							<p>Implementation and maintenance of several websites for small businesses.
</p>
						</div>
				</div>
				<div class="item">
						<h3 class="name">
							Designection UG &amp; Co. KG
						</h3>
					<div class="date">
							<span class="startDate">
								Mon May 31 2010 02:00:00 GMT+0200 (CEST)
							</span>
							<span class="endDate">
				- Mon Oct 01 2012 02:00:00 GMT+0200 (CEST)
			</span>
					</div>
						<div class="position">
							CEO &amp; CTO
						</div>
						<div class="summary">
							<p>One of three founders</p>
						</div>
						<ul class="highlights">
								<li></li>
								<li>Winner of Wayra Business Competition</li>
						</ul>
				</div>
		</section>


		<section id="education">
			<h2>Education</h2>
				<div class="item">
					<div class="date">
							<span class="startDate">
								Mon Oct 01 2012 02:00:00 GMT+0200 (CEST)
							</span>
							<span class="endDate">
				- Thu Oct 01 2015 02:00:00 GMT+0200 (CEST)
			</span>
					</div>
						<div class="institution">
							Hasso Plattner Institut
						</div>
						<div class="area">
							IT-Systems Engineering
						</div>
						<div class="studyType">
							Bachelor
						</div>
						<div class="gpa">
							GPA: TODO: http://www.foreigncredits.com/Resources/GPA-Calculator
						</div>
						<ul class="courses">
								<li>Human Computer Interaction 1 &amp; 2</li>
								<li>Database Systems 1</li>
								<li>Theoretical Computer Science 1 &amp; 2</li>
								<li>Economy Basics 1 &amp; 2</li>
								<li>Computer-graphics 1</li>
								<li>Design Thinking Introduction</li>
								<li>Math 1 &amp; 2</li>
								<li>English 2</li>
								<li>Basics of Digital Systems</li>
								<li>Internet Technologies</li>
								<li>Modelling 1 &amp; 2</li>
								<li>Operating Systems 1</li>
								<li>Project Management Seminar</li>
								<li>Programming 1 &amp; 2</li>
								<li>Law for Engineers 1 &amp; 2</li>
								<li>Software Architecture</li>
								<li>Software Engineering</li>
								<li>[object Object]</li>
						</ul>
				</div>
				<div class="item">
					<div class="date">
							<span class="startDate">
								Sat Sep 01 2001 02:00:00 GMT+0200 (CEST)
							</span>
							<span class="endDate">
				- Sun May 01 2011 02:00:00 GMT+0200 (CEST)
			</span>
					</div>
						<div class="institution">
							Gymnasium Lindenberg
						</div>
						<div class="area">
							Scientific highschool
						</div>
						<div class="studyType">
							Highschool level
						</div>
						<div class="gpa">
							GPA: TODO: http://www.foreigncredits.com/Resources/GPA-Calculator
						</div>
						<ul class="courses">
								<li>Advanced Physics</li>
								<li>Advanced Math</li>
								<li>Intermediate English</li>
								<li>Intermediate Ethics</li>
						</ul>
				</div>
		</section>

		<section id="awards">
			<h2>Awards</h2>
				<div class="item">
						<div class="title">
							DPG book award for outstanding achievements in physics
						</div>
						<div class="date">
							Fri Jul 01 2011 02:00:00 GMT+0200 (CEST)
						</div>
						<div class="awarder">
							Deutsche Physikalische Gesellschaft (German Physics Society)
						</div>
				</div>
				<div class="item">
						<div class="title">
							Art award for outstanding musical achievements
						</div>
						<div class="date">
							Mon May 02 2011 02:00:00 GMT+0200 (CEST)
						</div>
						<div class="awarder">
							&quot;Förderkreis Gymnasium Lindenberg eV&quot;
(Gymnasium Lindenberg promotion society)

						</div>
				</div>
				<div class="item">
						<div class="title">
							3. place in the first round of the &quot;Bundeswettbewerb Mathematik&quot;
(Federal Math Competition) 2010

						</div>
						<div class="date">
							Wed Jun 09 2010 02:00:00 GMT+0200 (CEST)
						</div>
						<div class="awarder">
							Federal Ministry of Education and Research
						</div>
				</div>
				<div class="item">
						<div class="title">
							Several awards at the &quot;Mathematical Kangaroo&quot; competition
						</div>
						<div class="awarder">
							Mathematikwettbewerb Känguru e.V.
						</div>
				</div>
		</section>


		<section id="skills">
			<h2>Skills</h2>
				<div class="item">
						<div class="name">
							Web Development
						</div>
						<div class="level">
							<em>Master</em>
						</div>
						<ul class="keywords">
								<li>HTML</li>
								<li>CSS</li>
								<li>Javascript</li>
								<li>SVG</li>
						</ul>
				</div>
				<div class="item">
						<div class="name">
							3D Modelling
						</div>
						<div class="level">
							<em>proficient</em>
						</div>
						<ul class="keywords">
								<li>OpenScad</li>
								<li>Blender</li>
						</ul>
				</div>
				<div class="item">
						<div class="name">
							UI Design
						</div>
						<div class="level">
							<em>proficient</em>
						</div>
						<ul class="keywords">
								<li>Sketch</li>
								<li>Inkscape</li>
								<li>Gimp</li>
								<li>HTML</li>
								<li>CSS</li>
								<li>SVG</li>
						</ul>
				</div>
		</section>

		<section id="languages">
			<h2>Languages</h2>
				<div class="item">
						<div class="language">
							German
						</div>
						<div class="fluency">
							<em>Native speaker</em>
						</div>
				</div>
				<div class="item">
						<div class="language">
							English
						</div>
						<div class="fluency">
							<em>Fluid</em>
						</div>
				</div>
				<div class="item">
						<div class="language">
							Latin
						</div>
						<div class="fluency">
							<em>Advanced proficiency certificate</em>
						</div>
				</div>
		</section>

		<section id="interests">
			<h2>Interests</h2>
				<div class="item">
						<div class="name">
							Sailing
						</div>
						<ul class="keywords">
								<li>Bodenseeschifferpatent</li>
						</ul>
				</div>
		</section>

		<section id="references">
			<h2>References</h2>
				<div class="item">
						<blockquote class="reference">
							Great guy!
						</blockquote>
						<div class="name">
							— Some Body (Lead of Megacorp)
						</div>
				</div>
		</section>

</div>
