<!doctype html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel=stylesheet media=all href=/site.css>
  <link rel="shortcut icon" href=/images/favicon.png>
  <link
    href=/atom.xml
    rel=alternate
    title="Adrian Sieber"
    type=application/atom+xml>
  <meta name=flattr:id content=wy9yl6>
  <!-- TODO: SEO -->
</head>
<body {% block body_attr %} id=home {% endblock body_attr %}>

<div id=wrapper>
  <header {% block header_attr %}{% endblock header_attr %}>
    <div class=headerContent>
      {% block heading %}
      {% endblock heading %}

      <aside id=buttons>
        <a href=https://twitter.com/adriansieber title="X">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/>
          </svg>
          <span>X</span>
        </a>
        <a href=https://github.com/ad-si title="GitHub">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
          </svg>
          <span>GitHub</span>
        </a>
        <a href=https://www.tiktok.com/@adriansieber title="TikTok">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93-.01 2.92.01 5.84-.02 8.75-.08 1.4-.54 2.79-1.35 3.94-1.31 1.92-3.58 3.17-5.91 3.21-1.43.08-2.86-.31-4.08-1.03-2.02-1.19-3.44-3.37-3.65-5.71-.02-.5-.03-1-.01-1.49.18-1.9 1.12-3.72 2.58-4.96 1.66-1.44 3.98-2.13 6.15-1.72.02 1.48-.04 2.96-.04 4.44-.99-.32-2.15-.23-3.02.37-.63.41-1.11 1.04-1.36 1.75-.21.51-.15 1.07-.14 1.61.24 1.64 1.82 3.02 3.5 2.87 1.12-.01 2.19-.66 2.77-1.61.19-.33.4-.67.41-1.06.1-1.79.06-3.57.07-5.36.01-4.03-.01-8.05.02-12.07z"/>
          </svg>
          <span>TikTok</span>
        </a>
        <a href=https://youtube.com/@ad-si title="YouTube">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
          </svg>
          <span>YouTube</span>
        </a>
        <a href=https://stackoverflow.com/users/1850340/adius title="Stack Overflow">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.725 0l-1.72 1.277 6.39 8.588 1.716-1.277L15.725 0zm-3.94 3.418l-1.369 1.644 8.225 6.85 1.369-1.644-8.225-6.85zm-3.15 4.465l-.905 1.94 9.702 4.517.904-1.94-9.701-4.517zm-1.85 4.86l-.44 2.093 10.473 2.201.44-2.092-10.473-2.203zM1.89 15.47V24h19.19v-8.53h-2.133v6.397H4.021v-6.396H1.89zm4.265 2.133v2.13h10.66v-2.13H6.154Z"/>
          </svg>
          <span>Stack Overflow</span>
        </a>
        <a href=https://de.linkedin.com/in/adriansieber title="LinkedIn">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
          </svg>
          <span>LinkedIn</span>
        </a>
        <!--
        <a href=https://dribbble.com/adius title="Dribbble">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 24C5.385 24 0 18.615 0 12S5.385 0 12 0s12 5.385 12 12-5.385 12-12 12zm10.12-10.358c-.35-.11-3.17-.953-6.384-.438 1.34 3.684 1.887 6.684 1.992 7.308 2.3-1.555 3.936-4.02 4.395-6.87zm-6.115 7.808c-.153-.9-.75-4.032-2.19-7.77l-.066.02c-5.79 2.015-7.86 6.025-8.04 6.4 1.73 1.358 3.92 2.166 6.29 2.166 1.42 0 2.77-.29 4-.814zm-11.62-2.58c.232-.4 3.045-5.055 8.332-6.765.135-.045.27-.084.405-.12-.26-.585-.54-1.167-.832-1.74C7.17 11.775 2.206 11.71 1.756 11.7l-.004.312c0 2.633.998 5.037 2.634 6.855zm-2.42-8.955c.46.008 4.683.026 9.477-1.248-1.698-3.018-3.53-5.558-3.8-5.928-2.868 1.35-5.01 3.99-5.676 7.17zM9.6 2.052c.282.38 2.145 2.914 3.822 6 3.645-1.365 5.19-3.44 5.373-3.702-1.81-1.61-4.19-2.586-6.795-2.586-.825 0-1.63.1-2.4.285zm10.335 3.483c-.218.29-1.935 2.493-5.724 4.04.24.49.47.985.68 1.486.08.18.15.36.22.53 3.41-.43 6.8.26 7.14.33-.02-2.42-.88-4.64-2.31-6.38z"/>
          </svg>
          <span>Dribbble</span>
        </a>
        -->
        <span> </span>
        <a href=/atom.xml title="Atom Feed">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415c1.814 0 3.293 1.479 3.293 3.295 0 1.813-1.485 3.29-3.301 3.29C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/>
          </svg>
          <span>Atom Feed</span>
        </a>
      </aside>
    </div>
  </header>

  <main id=wrapcontent>
    {% block content %}
      <header id=description>
        <h1>Hi, <span>I'm Adrian Sieber</span></h1>

        <p class=subtitle>A software developer and entrepreneur</p>

        <p class=subSubtitle>
          Check out my <a href=/about>about page</a> for a short summary
          and my <a href=/resume>resume</a> for detailed information.
        </p>
      </header>

      <hr/>

      <article id=post-listing>
        <h1>Blog Posts</h1>

        <p>Signup for the newsletter to get informed about new posts!
          <small>(~ 1 / year)</small>
        </p>

        <form
          action="//adriansieber.us1.list-manage.com/subscribe/post?u=53f9a8f66939c80e2686e9084&amp;id=099350cf4a"
          method=post
          id=mc-embedded-subscribe-form
          name=mc-embedded-subscribe-form
          target=_blank>
          <label for=mce-EMAIL>Email Address</label>
          <input type=email name=EMAIL
            class="required email" id=mce-EMAIL
            placeholder="Email address">
          <div id=mce-responses class=clear>
            <div class=response id=mce-error-response style=display:none></div>
            <div class=response id=mce-success-response style=display:none></div>
          </div>
          <!-- Do not remove this or risk form bot signups -->
          <div style=position:absolute;left:-5000px; aria-hidden=true>
            <input
              type=text
              name=b_53f9a8f66939c80e2686e9084_099350cf4a
              tabindex=-1>
          </div>
          <input
            type=submit
            value=Subscribe
            name=subscribe
            id=mc-embedded-subscribe
            class=button>
        </form>

        <p id="tags-info">
          You can also browse all posts by their tags <a href="/tags">here</a>.
        </p>

        {% set pages = section.pages | sort(attribute="date") | reverse %}

        <ul>
          {% for page in pages%}
          <li>
            <span>{{ page.date | date(format="%Y-%m-%d") }}</span>
            <span> – </span>
            <a href="{{ page.slug }}/">
              {{ page.title | safe }}
            </a>
          </li>
          {% endfor %}
        </ul>

      </article>

      <hr/>

      <article>
        <h1>Projects</h1>

        <ul id=projects>
          <li id=airsequel>
            <a href=https://www.airsequel.com title=Airsequel>Airsequel</a>
            <p>
              Airsequel automatically generates a complete GraphQL API
              and provides a spreadsheet UI, a SQL workbench, cloud functions,
              and a dashboard builder for your SQLite databases and CSV files.
            </p>
          </li>
          <li id=tasklite>
            <a href=https://tasklite.org title=TaskLite>TaskLite</a>
            <p>
              Full fledged CLI task manager built with Haskell and SQLite.
              I repeatedly lost tasks with Taskwarrior
              due to bugs and syncing issues and
              wanted something with a better workflow.
            </p>
          </li>
          <li id=perspec>
            <a href=https://github.com/feramhq/Perspec title=Perspec>Perspec</a>
            <p>
              Scriptable desktop app to correct the perspective of images.
            </p>
          </li>
          <li id=transity>
            <a href=https://github.com/feramhq/Transity title=Transity>
              Transity
            </a>
            <p>
              Transity is a full fledged CLI based plain text accounting tool.
              Used for Feram's and my personal finances.
            </p>
          </li>
          <li id=rosettagit>
            <a href=https://rosettagit.org title=RosettaGit>RosettaGit</a>
            <p>
              RosettaGit presents solutions to coding challenges
              in as many programming languages as possible.
              Started out as a fork of Rosetta Code.
            </p>
          </li>
          <li id=feram>
            <a href=https://feram.io title=Feram>Feram</a>
            <p>I co-founded Feram in 2017 and initially we developed
              a code liniting service until early 2019.
              It let developers find bugs in their code
              by automatically checking every commit
              with several dozen linters &amp; code analysis tools.
              Afterwards it transformed into a software agency and
              is now the legal entity behind Airsequel.
            </p>
          </li>
          <li id=educatopia>
            <a href=https://educatopia.org
               title=Educatopia>educatopia</a>
            <p>I started <a href="https://educatopia.org">Educatopia</a>
              in 2013 during university because
              I was annoyed that there was no simple wiki like
              platform to share exercises (plus hints &amp; solutions).
            </p>
          </li>
          <li id=shaven>
            <a href=http://shaven.ad-si.com
               title=Shaven>Shaven</a>
            <p>A DOM building utility and template engine
              where the virtual DOM is represented as nested arrays.
            </p>
          </li>
          <li id=fakesome>
            <a href=http://fakesome.ad-si.com
               title=Fakesome>Fakesome</a>
            <p>Create fake data to populate databases, build API prototypes,
              train neural networks or generate names for your cats.
            </p>
          </li>
          <li id=timeomat>
            <a href=http://timeomat.com
               title=Timeomat>Timeomat</a>
            <p>Clock, Alarm, Stopwatch &amp; Timer. All in your Browser.</p>
          </li>
          <li id=schifferpatent>
            <a href=https://schifferpatent.org
               title=Bodenseeschifferpatent>Schifferpatent</a>
            <p>When I trained for my sailing license for Lake Constance in 2011
              there were no good resources available except expensive books,
              so I built a website.
              I also started to build an English version:
              <a href="http://sail-guide.com">sail-guide.com</a>
            </p>
          </li>
          <li id=bitcoinate>
            <a href=http://www.bitcoinate.org
               title=bitcoinate>bitcoinate</a>
            <p>Add a button to your website to display your Bitcoin address
              in order to receive donations.
            </p>
          </li>
          <li id=vectual>
            <a href=http://vectual.org
               title=Vectual>vectual</a>
            <p>A simple to use charting library originally implemented
              in JavaScript, but which I recently started to reimplement
              in <a href="http://elm-lang.org">elm</a>.
            </p>
          </li>
          <li id=life-is-short>
            <a href=https://life-is-short.ad-si.com
               title='Life Is Short'>Life Is Short</a>
            <p>A short reminder how precious each week of your life is.
            </p>
          </li>
          <li id=utcify>
            <a href=https://utcify.ad-si.com
               title='UTCify'>UTCify</a>
            <p>Simple online converter to convert all date formats to UTC
            </p>
          </li>
          <li id=csstab>
            <a href=https://csstab.ad-si.com
               title=CSStab>CSStab</a>
            <p>
              A simple documentation page
              listing all CSS properties and selectors.
            </p>
          </li>
        </ul>
      </article>

      {{ section.content | safe }}
    {% endblock content %}
  </main>
</div>

<script
  src=https://cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js
></script>

</body>
</html>
