{% extends "index.html" %}

{% block body_attr %}
  class=page
{% endblock body_attr %}

{% block header_attr %}
  class=fullHeader
{% endblock header_attr %}

{% block heading %}
  <h1><a href=/ >Adrian Sieber</a></h1>
{% endblock heading %}

<div class=tags>
  {% for tag in page.taxonomies.tags %}
    <span>{{ tag }}</span>
  {% endfor %}
</div>

{% block content %}
<article class=post>
  <header>
    <h1>{{ page.title | safe }}</h1>
    <p class=subtitle>
      <time>
        {{ page.date | default(value="1970-01-01") | date(format="%Y-%m-%d") }}
      </time> —
      {{ page.word_count }} Words —
      {{ page.reading_time }}
      min
    </p>
    <div class=tags>
      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
          <a
            href="/tags/{{ tag | replace(from=" ", to="-") | lower }}"
            class="tag"
          >{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </header>
  {{ page.content | safe }}
  <hr>
  <p>If you have any comments, thoughts, or other feedback
    feel free to tweet me
    <a href=https://twitter.com/AdrianSieber>@AdrianSieber</a>.
    Thanks for your help! 😊</p>
</article>

{% endblock content %}
