{% extends "index.html" %}

{% block header_attr %}
  class=fullHeader
{% endblock header_attr %}

{% block heading %}
  <h1><a href=/ >Adrian Sieber</a></h1>
{% endblock heading %}

{% block content %}

{% set data = load_data(path="content/resume/resume.json") %}
{% set basics = data.basics %}

<div id="resume">

  <section id="basics">
    <div id="contact">
      {% if basics.picture %}
        <img src="{{basics.picture}}">
      {% endif %}

      <h1>{{basics.name}}</h1>
      <p class="subtitle">{{basics.label}}</p>

      {% if basics.summary %}
        <p>{{basics.summary}}</p>
      {% endif %}

      <div id="infos">
        {% if basics.website %}
          <div class="website">
            <span>Website</span>
            <a href="{{basics.website}}">
              {{basics.website}}
            </a>
          </div>
        {% endif %}
        {% if basics.email %}
          <div class="email">
            <span>Email</span>
            <a href="mailto:{{basics.email}}">{{basics.email}}</a>
          </div>
        {% endif %}
        {% if basics.phone %}
          <div class="phone">
            <span>Phone</span>
            <a href="tel:{{basics.phone}}">{{basics.phone}}</a>
          </div>
        {% endif %}
        {% if basics.location %}
          {% set loc = basics.location %}
          <div class="location">
            <span>Location</span>
            <a href="https://www.google.com/maps/place/{{loc.countryCode}},{{loc.city}}">
              {% if loc.countryCode %}
                {{loc.countryCode}}, {% endif %}
              {% if loc.region %}
                {{loc.region}}, {% endif %}
              {% if loc.city %}
                {{loc.city}} {% endif %}
              {% if loc.postalCode %}
                {{loc.postalCode}} {% endif %}
              {% if loc.address %}
                , {{loc.address}} {% endif %}
            </a>
          </div>
        </div>
      </div>
    {% endif %}

    {% if basics.profiles %}
      <div id="profiles">
        {% for profile in basics.profiles %}
          <div class="profile">
            {% if profile.network %}
              <span class="fa fa-{{profile.id}}"></span>
              <strong class="network">
                {{profile.network}}
              </strong>
            {% endif %}
            {% if profile.username %}
              /
              <span class="username">
                {% if profile.url %}
                  <a href="{{profile.url}}">
                    {{profile.username}}
                  </a>
                {% endif %}
              </span>
            {% endif %}
          </div>
          <br>
        {% endfor %}
      </div>
    {% endif %}
  </section>

  {% set work = data.work %}

  {% if work %}
    <section id="work">
      <h2>Work</h2>

      {% for item in work %}
        <div class="gig">
          {% if item.position %}
            <p class="position">{{item.position}}</p>
          {% endif %}

          {% if item.company %}
            <p class="company">{{item.company}}</p>
          {% endif %}

          <p class="date">
            {% if item.startDate %}
              <span class="startDate">{{item.startDate}}</span>
            {% endif %}
            {% if item.endDate %}
              <span class="endDate"> – {{item.endDate}}</span>
            {% else %}
              <span class="endDate"> – now</span>
            {% endif %}
          </p>

          {% if item.summary %}
            <div class="summary">
              <p>{{item.summary | safe}}</p>
            </div>
          {% endif %}

          {% if item.highlights %}
            <ul class="highlights">
              {% for highlight in item.highlights %}
                <li>{{highlight | safe}}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if item.website %}
            <div class="website">
              <a href="{{item.website}}">{{item.website}}</a>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}


  {% set publications = data.publications %}

  {% if publications %}
    <section id="publications">
      <h2>Publications</h2>

      {% for pub in publications %}
        <div class="item">
          {% if pub.name %}
            <p class="name">{{pub.name}}</p>
          {% endif %}

          {% if pub.publisher %}
            <p class="publisher">{{pub.publisher}}</p>
          {% endif %}

          {% if pub.releaseDate %}
            <p class="date">{{pub.releaseDate}}</p>
          {% endif %}

          {% if pub.summary %}
            <p class="summary">{{pub.summary}}</p>
          {% endif %}

          {% if pub.website %}
            <p class="website">
              <a href="{{pub.website}}">{{pub.website}}</a>
            </p>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}


  {% set education = data.education %}

  {% if education %}
    <section id="education">
      <h2>Education</h2>

      {% for schooling in education %}
        <div class="schooling">
          {% if schooling.area %}
            <p class="area">{{schooling.area}}</p>
          {% endif %}

          {% if schooling.institution %}
            <p class="institution">{{schooling.institution}}</p>
          {% endif %}

          <p class="date">
            {% if schooling.startDate %}
              <span class="startDate">{{schooling.startDate}}</span>
            {% endif %}
            {% if schooling.endDate %}
              <span class="endDate"> – {{schooling.endDate}}</span>
            {% else %}
              <span class="endDate"> – now</span>
            {% endif %}
          </p>

          {% if schooling.studyType %}
            <p class="studyType">{{schooling.studyType}}</p>
          {% endif %}

          {% if schooling.gpa %}
            <p class="gpa">GPA: {{schooling.gpa}}</p>
          {% endif %}

          {% if schooling.courses %}
            <ul class="courses">
              {% for course in schooling.courses %}
                <li>{{course}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}


  {% set awards = data.awards %}

  {% if awards %}
    <section id="awards">
      <h2>Awards</h2>

      {% for award in awards %}
        <div class="award">
          {% if award.title %}
            <p class="title">{{award.title}}</p>
          {% endif %}
          {% if award.date %}
            <p class="date">{{award.date}}</p>
          {% endif %}
          {% if award.awarder %}
            <p class="awarder">{{award.awarder}}</p>
          {% endif %}
          {% if award.summary %}
            <p class="summary">{{award.summary | safe}}</p>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}


  {% set skills = data.skills %}

  {% if skills %}
    <section id="skills">
      <h2>Skills</h2>

      {% for skill in skills %}
        <div class="skill">
          {% if skill.name %}
            <p class="name">{{skill.name}}</p>
          {% endif %}

          {% if skill.level %}
            <p class="level">{{skill.level}}</p>
          {% endif %}

          {% if skill.keywords %}
            <ul class="keywords">
              {% for keyword in skill.keywords %}
                <li>{{keyword}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}


  {% set languages = data.languages %}

  {% if languages %}
    <section id="languages">
      <h2>Languages</h2>

      <table>
        {% for lang in languages %}
          <tr>
            {% if lang.language %}
              <td class="name">{{lang.language}}</td>
            {% endif %}

            {% if lang.fluency %}
              <td class="fluency">{{lang.fluency}}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </section>
  {% endif %}


  {% set interests = data.interests %}

  {% if interests %}
    <section id="interests">
      <h2>Interests</h2>
      {% for interest in interests %}
        <div class="interest">
          {% if interest.name %}
            <p class="name">{{interest.name}}</p>
          {% endif %}

          {% if interest.keywords %}
            <ul class="keywords">
              {% for keyword in interest.keywords %}
                <li>{{keyword}}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}


  {% set references = data.references %}

  {% if references %}
    <section id="references">
      <h2>References</h2>
      {% for reference in references %}
        <div class="reference">
          {% if reference.reference %}
            <blockquote class="reference">{{reference.reference}}</blockquote>
          {% endif %}

          {% if reference.name %}
            <p class="name"> — {{reference.name}}</p>
          {% endif %}
        </div>
      {% endfor %}
    </section>
  {% endif %}

</div>
{% endblock content %}
