<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" media="all" href="/css/screen.css"/>
    <link rel="shortcut icon" href="/img/favicon.png"/>
	<link rel="stylesheet"
	      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//gitcdn.org/libs/bitcoinate/0.2.1/index.min.js"></script>
</head>
<body>

<div id="wrapper">

	<header {% if page.isHome == false %} class="fullHeader" {% endif %}>
		<div class="headerContent">
			{% if page.isHome == false %}
				<h1><a href="/">Adrian Sieber</a></h1>
			{% endif %}

			<aside id="buttons">
				<a class="fa fa-github"
				   href="https://github.com/adius">
					<span>GitHub</span>
				</a>
				<a class="fa fa-twitter"
				   href="https://twitter.com/adriansieber">
					<span>Twitter</span>
				</a>
				<a class="fa fa-facebook"
				   href="https://facebook.com/adriansieber1">
					<span>Facebook</span>
				</a>
				<a class="fa fa-dribbble"
				   href="https://dribbble.com/adius">
					<span>Dribbble</span>
				</a>
				<a class="fa fa-linkedin"
				   href="https://de.linkedin.com/in/adriansieber">
					<span>LinkedIn</span>
				</a>
				<a class="fa fa-stack-overflow"
				   href="https://stackoverflow.com/users/1850340/adius">
					<span>Stack Overflow</span>
				</a>
			</aside>
		</div>
	</header>

	<main id="wrapcontent">
        {{ content }}
	</main>
</div>

<script>
    // Piwik
    var _paq = _paq || []
    _paq.push(["trackPageView"])
    _paq.push(["enableLinkTracking"])

    !function () {

        var u = (("https:" == document.location.protocol) ? "https" : "http") +
                "://piwik.adriansieber.com/"

        _paq.push(["setTrackerUrl", u + "piwik.php"])
        _paq.push(["setSiteId", "1"])

        var d = document,
                g = d.createElement("script"),
                s = d.getElementsByTagName("script")[0]

        g.type = "text/javascript"
        g.defer = true
        g.async = true
        g.src = u + "piwik.js"
        s.parentNode.insertBefore(g, s)
    }()
</script>

</body>
</html>
