contentWidth = 660px

*
	border 0
	margin 0
	padding 0
	font-size 100%
	box-sizing border-box

html
	background-color white

body
	font 500 18px/1.3 "Helvetica", sans-serif
	color rgb(80,80,80)

hr
	height 1px
	background-color rgb(240, 240, 240)
	margin-bottom 1em

h1
	margin-bottom 1em

ul
	margin-left 2em

ol
	margin-left 2em

#wrapper
	> header
		background-color rgb(240,240,240)
		height 2.5em
		padding 10px
		margin-bottom 40px
		h1
			display inline-block
	.headerContent
		margin 0 auto
		width contentWidth

#wrapcontent
	margin 0 auto 50px auto
	width contentWidth

.postHeader
	.headerContent
		position relative
	text-align left
	h1
		margin-bottom 0
		a
			text-decoration none
			color inherit
	aside
		position absolute
		right 0
		display inline-block


header
	text-align center

aside
	text-align center
	font-size 1.2em
	a
		display inline-block
		margin-right 0.5em
		text-decoration none
		color inherit
		span
			display none


#description
	margin-bottom 3em
	h1
		display inline-block
		font 900 54px / 120px "Trebuchet MS", sans-serif
		margin-bottom 0

	.subtitle
		text-align center
		font 500 34px / 50px "Tahoma", sans-serif
		margin-bottom 0.5em

	.subtitle,
	.subSubtitle
		color rgb(140,140,140)




article
	margin-bottom 2em

/*-------------------------- Home --------------------------*/

projectImageHeight = 180px

#projects
	margin-left 0
	li
		text-align center
		display inline-block
		vertical-align top
		margin 0 15px 20px 0
		width 320px
		height projectImageHeight
		text-indent -9999px
		&:nth-of-type(2n)
			margin-right 0
		a
			text-decoration none
			display block
			width 100%
			height 100%



#chuisy
	background-image url(../img/chuisy.png), linear-gradient(rgb(230, 30, 75), rgb(140, 0, 0))
	background-repeat no-repeat, repeat-x
	background-size 200px, 100%
	background-position center

#schifferpatent
	background-image url(http://schifferpatent.org/img/logo.svg), linear-gradient(rgb(60, 160, 250), rgb(30, 100, 200))
	background-repeat no-repeat, repeat-x
	background-position 50%, 50%
	background-size 90% auto, 100%

#vectual
	background-image url(../img/vectual.png)
	background-repeat no-repeat, repeat-x
	background-position 60%, 50%
	background-size 120%

#timeomat
	background-image url(../img/timeomat.png)
	background-position 0px, -20px
	background-size 100%
	text-align center
	color rgb(255, 255, 255)

#bitcoinate
	background-image url(https://raw.github.com/adius/bitcoinate/v0.1.2/img/bitcoinate50.png), linear-gradient(#f7931a, #c16c07)
	background-size 28px, 100%
	background-position 50px 50%, 50%
	background-repeat no-repeat
	font 900 40px / projectImageHeight "Arial", sans-serif
	text-shadow 0 -2px 1px rgba(0, 0, 0, 0.5)
	text-indent 40px !important
	a
		color white

#designection
	background-image url(../img/designection.png), linear-gradient(rgba(150, 150, 150, 1), rgba(50, 50, 50, 1))
	background-repeat no-repeat, repeat-x
	background-size 280px, 100%
	background-position center

#leomask
	background-image linear-gradient(rgba(0, 0, 0, 0), rgba(30, 30, 30, 0.3)), url(../img/paper.jpg)
	text-align center
	text-indent 0 !important
	font 700 40px / projectImageHeight "Myriad Pro", sans-serif
	a
		color rgb(50, 50, 50)

#fakesome
	background-image url(../img/fakesome.png)
	background-size 100%
	text-align center
	color rgb(255, 255, 255)

#shaven
	background-image url(../img/shaven.png)
	background-size 100%
	text-align center

#coming-soon
	border 4px dashed rgb(100,100,100)
	line-height projectImageHeight
	text-decoration none
	font-size 24px
	text-indent 0 !important
	vertical-align middle
	a
		color rgb(100,100,100)
